.card{
    margin-top: 2rem;
    width: 50%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #5a5c6a 0%, rgba(32,45,58,1) 81.3% );;
    color: white;
    border-radius: 1rem;
    border: 2pt solid white;
}
.card-img-top{
    border-radius: 1rem;
}
.cardlistpeople{
    display: flex;
    justify-content: center;
    
}
h1{
    color: white;
    margin-top: 2rem;
    border-bottom: 1pt solid rgb(190, 179, 19);
}
.img-header{
    margin: auto;
    width: 80%;
}
.imgHeader{
    width: 100%;
}
body{
    background-image: url("https://i.vimeocdn.com/video/886247114-893deef9f59caa4815244c05e49e2820f500c3a889cdf0cd12ffe58a3a2b7968-d_640x360.jpg");
}
.cardlistpeople{

}